.container{
    border:1px solid black;
    border-radius: 10px;    
    width: 1140px;
    padding: 20px;
}
table{
    width: 1160px;
    display: block;
    padding: 10px;
}

tr{
    display: flex;
    align-items: center;
    gap: 150px;
    text-align: left;
}

.status-btn{
    padding:10px 20px;
    border-radius: 10px;
}
.emails{
    display: flex;
    text-align: left;
    align-items: flex-start;
    // width: auto;
    // padding: 10px 0;
    .email-add{
        padding: 10px 20px;
        border:1px solid;
        border-radius: 20px;
        background-color: white;
    }
}