.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 20px;
}
.data-card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color:#ffbcbc;
    height: 267px;
    border-radius: 20px;
    border:1px solid #AAB0BE;
}
.main-data{
//     /* Auto layout */

display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 29px;
    // position: absolute;
// left: 19%;
// right: 18.5%;
// top: 12.45%;
// bottom: 9.34%;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 125px;
    height: 149px;

    .image{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: #C4C4C4;
    }
    .text{
        width: 60px;
        height: 16px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        color: #121418;
    }
}
.signal-box{
    display: flex;
    font-family: 'Roboto';

    // font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    /* identical to box height */
    color: #000000;
}

.vector{
    position: absolute;
    left: 0.5%;
    right: 74%;
    top: 0.39%;
    bottom: 78.99%;

    background: #5FDBA7;
    border: 1px solid #5FDBA7;
    overflow: hidden;
}

.btn-primary{
    padding: 10px;
    border:none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:80px;
    left: -10px;
}