.card-list {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  float: right;
  position: absolute;
  width: 119px;
  height: 36px;
  left: 1504px;
  top: 50px;
}
button {
  border: none;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  width: 63px;
  height: 36px;

  /* background: #0f60da; */
  border-radius: 8px 0px 0px 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;

  width: 56px;
  height: 36px;

  /* background: #D1E4FF; */
  border-radius: 0px 8px 8px 0px;
}

.main-body {
  display: flex;
  position: absolute;
  width: 1400px;
  height: 546px;
  left: 77px;
  /* top: px; */
}
button:hover {
  cursor: pointer;
}
